<md-toolbar color="primary">
  Photo Bucket
  <span fxFlex></span> {{authService.displayNameStream | async}}
  <button *ngIf="(authService.isSignedInStream | async)" md-icon-button [mdMenuTriggerFor]="signOutMenu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu [overlapTrigger]="false" #signOutMenu="mdMenu">
    <button (click)="authService.signOut()" md-menu-item>Sign Out</button>
  </md-menu>
</md-toolbar>

<div>
  <div class="container" class.gt-xs="container-extra-padding" fxFlex fxFlex.md="960px" fxFlex.gt-md="1100px">
    <router-outlet></router-outlet>
  </div>
</div>
